* {
    font-family: 'Gilroy-Bold', sans-serif;
}

html, body, div, span {
    color: white;
}

:root {
    --accent-color: #FBD784;
    --title-font: 'Chronicle Display', serif;
    --slim-font: 'Gilroy-Regular', sans-serif;
}
